body {
    background-color: white;
    color: black;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }

  ul {
    background-color: lightgrey;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }